body {
  background-color: #f6f6f6;
  color: #474747;
  font-family: "Century Gothic"; }
  body a {
    color: inherit;
    text-decoration: none; }
    body a:visited {
      text-decoration: none; }

header {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px; }
  header .empty {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #474747;
    left: 0;
    right: 0;
    top: 45px; }
  header #logo {
    width: 8%;
    margin: 0 auto; }
  header .left {
    float: left; }
  header .right {
    float: right; }
  header nav ul {
    list-style: none;
    padding: 0;
    padding-top: 25px; }
    header nav ul li {
      display: inline-block;
      margin-left: 60px;
      margin-right: 60px;
      cursor: pointer; }
      header nav ul li:hover {
        color: #818188; }

.container {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  overflow: hidden;
  margin-top: 70px; }
  .container .grid {
    width: 100%;
    margin-top: 30px;
    display: inline-block; }
    .container .grid .box {
      width: 250px;
      height: 250px;
      margin-right: 20px;
      background: #efefef;
      position: relative;
      display: inline-block; }
      .container .grid .box:before {
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        width: 150px;
        height: 0;
        border-left: 50px solid #f6f6f6;
        border-right: 50px solid #f6f6f6;
        border-bottom: 50px solid #efefef; }
      .container .grid .box:after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 150px;
        height: 0;
        border-left: 50px solid #f6f6f6;
        border-right: 50px solid #f6f6f6;
        border-top: 50px solid #efefef; }
      .container .grid .box img {
        width: 60%;
        margin-top: 40px; }
  .container .about {
    width: 80%;
    margin: 160px auto; }
    .container .about img {
      width: 30%;
      display: inline-block;
      margin: -100px auto 0px auto; }
    .container .about p {
      width: 80%;
      display: inline-block;
      line-height: 2; }
      .container .about p span {
        font-size: 30px;
        display: block; }
  .container .contact {
    margin-top: 170px; }
    .container .contact img {
      margin: 10px; }
  .container .filler {
    width: 100%;
    margin: 200px auto 0px auto;
    color: #ff676a; }

footer {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  footer p {
    padding-top: 10px;
    border-top: 1px solid #ff676a; }

.big-picture {
  text-align: left;
  width: 50%;
  float: left; }
  .big-picture img {
    width: 100%;
    margin: 20px;
    display: inline-block; }

.description {
  float: right;
  text-align: left;
  width: 40%;
  right: 20px; }
  .description span {
    color: #818188;
    font-size: 40px;
    display: block;
    margin-bottom: 10px; }
  .description p {
    width: 100%;
    display: inline-block; }
  .description ul {
    margin: 0;
    padding: 0; }
    .description ul li {
      list-style: none; }
  .description img {
    margin-top: 10px;
    width: 10%; }

.hidden {
  display: none; }

#big {
  stroke: #f6f6f6;
  stroke-width: 8;
  stroke-dasharray: 1540;
  stroke-dashoffset: 1540;
  animation: bigPath 10s linear forwards;
  -webkit-animation: bigPath 3s linear forwards; }

#small1,
#small2 {
  fill: #818188; }

@keyframes bigPath {
  from {
    stroke-dashoffset: 1540; }
  to {
    stroke-dashoffset: 0; } }
@-webkit-keyframes bigPath {
  from {
    stroke-dashoffset: 1540;
    stroke: #ff676a;
    fill: #f6f6f6; }
  to {
    stroke-dashoffset: 0;
    stroke: #f6f6f6;
    fill: #efefef; } }

/*# sourceMappingURL=styles.css.map */
