$accent: #ff676a;
$green-accent: #9fe6ca;
$dark-grey: rgba(71, 71, 71, 1);
$light-grey: #818188;
$lighter-grey: #efefef;
$background-grey: #f6f6f6;

body.main {
	background: url('../../images/stars-2.png') repeat;
	background-size: 38%;
}

.container{
  border-radius: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  margin-left: -510px;
  width: 80%;
  padding-top: 20px;
	.about{
		position: relative;
		width: 40%;
		margin: 0 auto;
		img{
			width: 2em;
			display: inline-block;
			margin: 0 auto;
		}
		a{
			color: $accent;
			font-weight: bolder;
			&:hover{
				color: $green-accent;
			}
		}
	}
	.contact{
		width: 80%;
		margin: 0 auto;
		img{
			margin: 10px;
			width: 10%;
		}
	}
}

@-webkit-keyframes wave{
	100%{
		-webkit-transform: rotate(0deg);
	}
	20%{
		-webkit-transform: rotate(-20deg);
	}
	40%{
		-webkit-transform: rotate(0deg);
	}
	0%{
		-webkit-transform: rotate(-20deg);
	}
	10%{
		-webkit-transform: rotate(0deg);
	}
}

@media all and (max-width: 1000px){
	.container{
		.about{
			width: 100%;
		}
	}
}
