$accent: #ff676a;
$green-accent: #9fe6ca;
$dark-grey: rgba(71, 71, 71, 1);
$light-grey: #818188;
$lighter-grey: #efefef;
$background-grey: #f6f6f6;

body {
  background: rgba($background-grey, 0.8);
}

.container {
  padding: 20px;
}

.box {
  .title,
  .subtitle {
    margin: 0;
  }
  .subtitle {
    font-weight: lighter;
    font-family: "Century Gothic", sans-serif;
  }
}