@import 'bootstrap';
@import "https://fonts.googleapis.com/css?family=Montserrat";
@import "style.css";
@charset "utf-8";



$pop: #ef6c00;
$white: #fff;
$blue: #4ecdc4;
$turquoise: rgba(#4ECDC4, 0.65);
$other-grey: #E2DDD9;
$peach: #FFCFBC;
$black: #000;
$light-grey: #F7F7F7;

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
     -moz-#{$name}: #{$argument};
      -ms-#{$name}: #{$argument};
       -o-#{$name}: #{$argument};
          #{$name}: #{$argument};
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content };
  @-moz-keyframes #{$name}    { @content };
  @-ms-keyframes #{$name}     { @content };
  @-o-keyframes #{$name}      { @content };
  @keyframes #{$name}         { @content };
}

@mixin highlight($height, $margin-top) {
  display:block;
  content:'';
  width:100%;
  height:#{$height};
  background: $turquoise;
  margin-top:#{$margin-top};
}

@font-face {
  font-family: "adam-cg-pro";
  src: url("adam-cg-pro.otf"); /* IE9 Compat Modes */
}

// extends here so I dont need to create a new page
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  float: none;
  margin: 0 auto;
}
html { overflow-x: hidden; }
body {
  font-family: 'Montserrat', 'Georgia', sans-serif;
  color: $black;
  font-size: 10px;
  &.container-fluid {
    padding: 0;
  }
}

h1, h2, h3 {
  font-family: "Montserrat Black";
  display: block;
  text-align: center;
  background: none;
  text-transform: uppercase;
  &::after {display: none;}
}

a {
  color: inherit;
  cursor: pointer;
  transition: background .5s;
  text-decoration: none;
  &:hover,
  &:visited,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
  li {
    background: $white;
    list-style-type: none;
    display: inline-block;
    svg {
      width: 30px;
      margin: 10px;
    }
  }
}

.highlighted {
  text-transform: uppercase;
  font-family: "Montserrat Black";
  display: inline-block;
  &:after {
    @include highlight(20px, -35px);
  }
}

header {
  text-align: center;
  @extend %clearfix;
  h1 {font-size: 3.8em; margin: 0;}
  h2 {font-size: 2.8em; margin: 0;}
  nav {
    margin: 50px 0;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-align: center;
      button {
        border: none;
        background: none;
      }
      li:first-child {
        padding-left: 10%;
        background: $peach;
      }
      li {
        padding: 15px;
      }
      li:last-child {
        padding-right: 10%;
      }
    }
  }
  .nav__logo-container {
    svg {
      margin-left: 30px;
      width: 15%;
    }
  }
  .nav__social-container {
    margin: 20px 0;
    li {
      svg {
        width: 40px;
      }
      &:nth-child(2) {
        svg {width: 54px}
      }
      &:nth-child(3) {
        svg {width: 42px}
      }
    }
  }

  @media (max-width: 992px) {
    .highlighted {
      &:after {
        @include highlight(33px, -43px)
      }
    }
    .nav__logo-container {
      svg {width: 25%;}
    }
  }

  @media (max-width: 990px) {
    .highlighted {
      &:after {
        @include highlight(24px, -36px)
      }
    }
  }

  @media (max-width: 630px) {
    h1 { font-size: 3em; }
  }

  @media (max-width: 600px) {
    h2 { font-size: 1.8em; }
    h1 { font-size: 2.8em; }
    .highlighted {
      &:after {
        @include highlight(12px, -30px)
      }
    }
    .nav__logo-container {
      svg {width: 35%;}
    }
  }

  @media (max-width: 500px) {
    h2 { font-size: 1.8em; }
    h1 { font-size: 2.2em; }
    .highlighted {
      &:after {
        @include highlight(11px, -20px)
      }
    }
    .nav__logo-container {
      svg {width: 35%;}
    }
    .nav__social-container {
      margin: 20px 0;
      li {
        svg {
          width: 30px;
        }
        &:nth-child(2) {
          svg {width: 40px}
        }
        &:nth-child(3) {
          svg {width: 34px}
        }
      }
    }
  }

  @media (max-width: 320px) {
    h1 { font-size: 1.8em; }
    .highlighted {
      &:after {
        @include highlight(10px, -18px)
      }
    }
    nav {
      ul {
        li:last-child {
          padding-right: 0;
        }
        li:first-child {
          padding-left: 5%;
        }
      }
    }
  }
}

$m: ".m-content";

#{$m} {
  margin-top: 80px;
}

#{$m}__header-block {
  h1 {
    font-size: 12em;
    margin-bottom: 120px;
    &:after {
      margin: 0 auto;
      @include highlight(140px, -190px);
      width: 83%;
    }
  }
  @media (max-width: 600px) {
    h1 {
      font-size: 8em;
      &:after {
        @include highlight(120px, -155px)
      }
    }
  }

  // @media (max-width: 900px) {
  //   h1 {
  //     font-size: 1.5em;
  //     &:after {
  //       @include highlight(20px, -28px)
  //     }
  //   }
  // }

  // @media (min-width: 1000px) {
  //   h1 {
  //     font-size: 1.5em; }
  // }

  // @media (min-width: 1100px) {
  //   h1 {
  //     font-size: 1.9em;
  //     &:after {
  //       @include highlight(33px, -43px)
  //     }
  //   }
  // }
}

#{$m}__block {
  margin-bottom: 150px;
}

#{$m}__event-block {
  @extend %clearfix;
  text-align: left;
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
  h1, h2, h3, h4,
  #{$m}__event-body,
  #{$m}__event-upperhalf,
  #{$m}__event-lowerhalf {
    text-align: left;
    @media (max-width: 600px) {
      text-align: center;
    }
  }
  #{$m}__event-upperhalf,
  #{$m}__event-body,
  #{$m}__event-lowerhalf {
    clear: right;
    font-size: 0.8em;
    @extend %clearfix;
    p {
      font-size: 2.8em;
      line-height: 1.5em;
    }
    a {
      display: inline-block;
      background: rgba($peach, 0.5);
      &:hover {
        background: rgba($peach, 0.8);
      }
    }
    @media (max-width: 600px) {
      clear: none;
    }
  }

  #{$m}__event-details,
  #{$m}__event-lowerhalf {
    font-family: "Montserrat-Light";
    font-weight: lighter;
  }

  #{$m}__event-body,
  #{$m}__event-upperhalf {
    max-width: 500px;
    margin-bottom: 60px;
    h2 {
      font-size: 4em;
    }
  }

  #{$m}__event-partner {
    font-family: "Montserrat";
    font-size: 2.8em;
  }

  #{$m}__event-lowerhalf {
    float: left;
    @media (max-width: 600px) {
      float: none;
      margin-bottom: 20px;
    }
  }

  p#{$m}__event-nav {
    font-size: 15px;
    font-family: "Montserrat-Light";
    cursor: pointer;
    display: inline-block;
    background: $light-grey;
    transition: all 0.4s ease-out;
    &:hover {
      background: rgba($other-grey, 0.8);
    }
  }

  #{$m}__event-link {
    font-family: "Montserrat-Black";
    float: right;
    p {
      width: 200px;
      text-align: center;
    }
    a {
      font-size: 3em;
      &:after {
        @include highlight(40px, -65px);
        background: $peach;
      }
    }
    @media (max-width: 600px) {
      float: none;
      p {margin: 0 auto;}
      a {
        &:after {
          @include highlight(25px, -38px);
          width: 50%;
          margin-left: auto;margin-right: auto;
          background: $peach;
        }
      }
    }
  }

  #{$m}__event-upperhalf,
  #{$m}__event-lowerhalf {
    opacity: 1;
    visibility: visible;
  }

  #{$m}__event-upperhalf.showing,
  #{$m}__event-lowerhalf.showing {
    opacity: 0;
    visibility: hidden;
  }
  #{$m}__event-body.showing {
    opacity: 1;
    visibility: visible;
  }

  #{$m}__event-upperhalf,
  #{$m}__event-lowerhalf {
    position: relative;
    transition: all 0.4s ease-out;
    background: #fff;
  }

  #{$m}__event-body {
    opacity: 0;
    visibility: hidden;
    text-align: left;
    margin-bottom: 60px;
    font-size: 1em;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-out;
    p {
      font-family: "Montserrat-Light";
      text-transform: initial;
    }
    #{$m}__event-sponsor {
      font-size: 2.2em;
    }
    @media (max-width: 600px) {
      text-align: left;
      padding: 0 60px;
    }
  }
}

hr {
  width: 30%;
  margin: 40px 0;
  color: none;
  border: 0.2px solid $peach;
  @media (max-width: 600px) {
    margin: 40px auto;
  }
}

#{$m}__about-block {
  padding: 10px;
  p {
    font-family: "Montserrat-Light";
    font-size: 2.5em;
  }
  @media (max-width: 600px) {
    padding: 30px;
    p {font-size: 2em}
  }
}

footer {
  background: $light-grey;
  padding: 0;
  font-size: 10px;
  @extend %clearfix;
  &.col-lg-10, &.col-md-10, &.col-sm-10,
  .col-lg-12, .col-md-12, .col-sm-12 {padding: 0;}
}

#mc_embed_signup {
  clear:left;
  text-align: center;
  font-size:13px;
  font-family: "Montserrat Light";
  label {
    width: 100%;
  }
  h2 {
    font-size: 2.5em;
    margin: 0;
    width: 100%;
    transition: all 0.3s ease-out;
  }

  @media (max-width: 900px) {
    h2 { font-size: 1.5em; }
    .highlighted {
      &:after {
        @include highlight(35px, -43px)
      }
    }
  }

  @media (max-width: 350px) {
    h2 { font-size: 1.3em; }
    .highlighted {
      &:after {
        @include highlight(32px, -43px)
      }
    }
  }

  @media (min-width: 900px) {
    h2 { font-size: 1.5em; }
    .highlighted {
      &:after {
        @include highlight(20px, -28px)
      }
    }
  }

  @media (min-width: 1000px) {
    h2 { font-size: 1.5em; }
  }

  @media (min-width: 1100px) {
    h2 { font-size: 1.9em; }
    .highlighted {
      &:after {
        @include highlight(33px, -43px)
      }
    }
  }

  @media (min-width: 1400px) {
    h2 { font-size: 2.3em; }
  }
}

.m-footer__inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 50px;
  input {
    align-self: flex-end;
    margin: 0;
  }
}

#mce-EMAIL {
  border: transparent;
  background: $light-grey;
  border-bottom: 0.3px solid $other-grey;
  padding-left: 3px;
  display: inline-block;
  width: 250px;
  font-size: 18px;
}

#mc-embedded-subscribe,
#mc_embed_signup_scroll input[type="submit"] {
  background: transparent;
  border: 3px solid $other-grey;
  border-radius: 2px;
  padding: 8px;
  color: #000;
  font-family: "Montserrat-Black";
  display: inline-block;
  font-size: 18px;
  &:hover {
    background: $other-grey;
  }
}

.m-footer__sitemap {
  @extend %clearfix;
  margin-bottom: 50px;
}

.m-footer__menu,
.m-footer__social {
  padding: 0;
  // display: flex;
  // justify-content: center;
  ul {width: 100%;}
  li {
    display: block;
    background: none;
    width: 50%;
    margin-right: 0;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  h3 {
    margin: 10px 0;
    padding: 5px 10px;
    display: inline-block;
  }
}

.m-footer__menu {
  float: left;
  h3, ul {text-align: right;}
  li:first-child {
    background: $peach;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    li {
      align-self: flex-start;
    }
  }
}

.m-footer__social {
  float: right;
  h3, ul {text-align: left;}
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    li {
      align-self: flex-end;
    }
  }
  // @media (min-width:760px) {
  //   li {margin: 0 auto}
  // }
}

.m-footer__copyright {
  clear: both;
  text-align: center;
  padding: 20px 0;
  font-size: 1.5em;
  a {
    display: inline-block;
    &:after {
      @include highlight(8px, -20px);
      background: $peach;
    }
  }
}

// HAS HAMBURGER MENU LOGIC
// .nav {
//   background: $white;
//   width: 100%;
//   a:hover {
//     background: none;
//   }
//   &__top-elements {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     flex-align: center;
//     svg {
//       width: 30%;
//       margin: 20px;
//     }
//     .nav__hamburger-menu {
//       display: none;
//       @media (max-width: 800px) {
//         display: block;
//         max-width: 100px;
//         pointer: cursor;
//       }
//     }
//   }
//   &__menu-items {
//     font-family: "Montserrat-Black";
//     font-size: 25px;
//     text-transform: uppercase;
//     li {
//       margin: 0 20px;
//     }
//     @media (max-width: 800px) {
//       display: none;
//     }
//   }
//   &__menu-items-mobile {
//     display: none;
//     @media (max-width: 800px) {
//       display: block;
//       background: turquoise;
//       padding: 30px;
//       width: 100%;
//       position: absolute;
//       top: 200px;
//       z-index: 1;
//       li {
//         text-transform: uppercase;
//         font-family: "Montserrat-Black", Helvetica;
//         font-size: 30px;
//         display: block;
//         padding:20px 0;
//         background: none;
//       }
//     }
//   }
// }


// .links {
//   margin-top: 50px;
//   text-align: left;
//   max-width: 500px;
//   p {font-family: "Montserrat"; font-size: 20px; margin-bottom: 15px;}
//   ul {
//     text-align: left;
//     li {
//       font-family: "Montserrat Light";
//       font-size: 15px;
//       display: block;
//       margin-bottom: 15px;
//       margin-top: 5px;
//     }
//   }
//   span {
//     font-size: 20px;
//   }
//   a {
//     color: $black;
//     display: inline-block;
//     &:after {
//       display:block;
//       content:'';
//       width:100%;
//       height:4px;
//       background: $peach;
//       margin-top:-2px;
//     }
//   }
// }



// .row {
//   margin: 0;
// }

// .navbar {
//   border: none;
//   margin-bottom: 0;
// }

// header {
//   color: $black;
//   font-weight: bold;
//   margin: 0 auto;
//   .navbar,
//   .col-sm-10,
//   .col-md-10,
//   .col-lg-8 {
//     float: none;
//   }
//   nav {
//     a:hover {
//       background: none;
//     }
//     background: $white;
//     margin: 0 auto;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     svg {
//       width: 50px;
//       margin: 20px;
//     }
//   }
//   .subnav {
//     background: $peach;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     @extend %clearfix;
//   }
//   .menu-items {
//     margin-left: auto;
//     @extend %clearfix;
//   }
//   .col-lg-4,
//   .col-md-4,
//   .col-sm-4 {
//     float: none;
//   }
// }

// .m-content {
//   margin: 0;
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   @extend %clearfix;
//   .col-sm-12,
//   .col-md-12,
//   .col-lg-12 {
//     padding-top: 0;
//   }
//   h1,
//   h2 {
//     color: $black;
//     background: $peach;
//     text-align: center;
//     font-family: 'adam-cg-pro', 'Montserrat', sans-serif;
//     letter-spacing: -1px;
//   }
//   h1 {
//     font-size: 30px;
//     display: inline-block;
//     margin: 30px 0;
//   }
//   h2 {
//     display: inline-block;
//     font-size: 23px;
//     text-transform: lowercase;
//   }

//   .box {
//     &.flyer {
//       @media (max-width: 900px) {
//         padding-bottom: 0;
//         padding-top: 0;
//       }
//     }
//     border-radius: 4px;
//     background: $white;
//     padding-bottom: 2em;
//     padding-top: 2em;
//     float: none;
//     margin: 40px auto;
//     text-align: center;
//     @extend %clearfix;
//     svg {
//       width: 20px;
//     }
//     .m-content--dek {
//       margin-top: 30px;
//       margin-bottom: 30px;
//       font-size: 18px;
//     }
//     .m-content--project {
//       margin-top: 30px;
//       margin-bottom: 50px;
//       h2 a {
//         &:after {
//           display: none;
//         }
//       }
//       img {
//         max-width: 250px;
//         display: block;
//         margin: 0 auto;
//       }
//       h2 {
//         padding: 10px;
//         background: none;
//         border: 8px solid $peach;
//         margin-bottom: 30px;
//       }
//       .m-content--subtitle {
//         margin-top: 40px;
//       }
//     }
//     p{text-align: left;}
//     .explainer {font-size: 15px;}
//     &.card {
//       .logo {
//         width: 50%;
//         float: left;
//         svg {
//           width: 100%;
//         }
//         @media (max-width: 780px) {
//           float: none;
//           width: 100%;
//           text-align: center;
//           svg {
//             margin: 0 auto;
//             width: 150px;
//           }
//         }
//       }
//       .tldr {
//         width: 50%;
//         float: right;
//         svg {
//           width: 20px;
//         }
//         .button-before-small {
//           &:before {
//             border: 3px solid #fff;
//           }
//         }
//         .button-container-small {
//           text-align: left;
//         }
//         h1 {span {font-size: 25px;font-weight: normal;}}
//         h2 {span {display:inline-block;font-size: 18px;font-weight: normal;}}
//         h1, h2 {font-weight: bold; font-family: 'Montserrat', 'Georgia', sans-serif; text-transform: uppercase;}
//         @media (max-width: 780px) {
//           float: none;
//           width: 100%;
//           text-align: center;
//           .button {
//             width: 80%;
//             padding: 20px;
//             h1 {
//               font-size: 25px;
//               span {font-size: 20px}
//             }
//             h2 {
//               font-size: 18px;
//             }
//           }
//         }
//       }
//       h1,
//       h2 {
//         background: none;
//         display: block;
//       }
//     }
//     p {
//       font-size: 18px;
//       font-weight: light;
//       .accent {
//         background: $peach;
//       }
//     }
//     a, h1, .m-content--subtitle {
//       color: $black;
//       display: inline-block;
//       &:after {
//         display:block;
//         content:'';
//         width:100%;
//         height:4px;
//         background: $peach;
//         margin-top:-2px;
//       }
//     }
//     a:hover {
//       background-color: $peach;
//       transition: background .5s;
//       text-decoration: none;
//       &:after {
//         display:block;
//         content:'';
//         width:100%;
//         height:4px;
//         background: $peach;
//         margin-top:-2px;
//       }
//     }
//     &.schedule {
//       .location {
//         text-align: center;
//         p {
//           text-align: center;
//         }
//         span {
//           display: block;
//           font-size: 18px;
//         }
//       }
//     }
//     .daily-schedule {
//       background: #f5f5f5;
//       text-align: left;
//       width: 45%;
//       margin: 10px;
//       padding: 20px;
//       box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
//       border: 1px solid #e3e3e3;
//       &.saturday {
//         float: left;
//       }
//       &.sunday {
//         float: right;
//       }
//       h2 {
//         display: inline-block;
//       }
//       h4 {
//         background: $other-grey;
//         display: inline-block;
//       }
//       ul {
//         padding: 0;
//       }
//       li {
//         font-size: 16px;
//         list-style-type: none;
//       }
//       &.saturday,
//       &.sunday {
//         @media (max-width: 600px) {
//           float: none;
//           width: 100%;
//         }
//       }
//     }
//     .poster-container {
//       height: 100%;
//     }
//     .m-content--flyer {
//       height: 900px;
//       padding: 10px 0 10px 0;
//       @media (max-width: 900px) {
//         height: auto;
//       }
//       .small-flyer {
//         display: none;
//         svg {
//           width: 100%;
//         }
//         @media (max-width: 900px) {
//           display: block;
//         }
//       }
//       h1, h2 {
//         font-family: "Montserrat Black";
//         display: block;
//         text-align: left;
//         margin: 0;
//         background: none;
//         &::after {display: none;}
//       }
//       h2 {font-size: 30px}
//       h1 {text-transform: uppercase;}
//       .desktop {
//         display: block;
//         @media (max-width: 900px) {
//           display: none;
//         }
//       }
//       .bg{
//         overflow:hidden;
//         background:#FFCFBC;
//         position: absolute;
//         max-width: 850px;
//         margin: 0 auto;
//         top:0;
//         left:0;
//         right:0;
//         bottom:0;
//         @media (max-width: 900px) {
//           position: relative;
//         }
//       }
//       .logo-background, .bottom-buttons {
//         height: 150px;
//         width: 150px;
//         position: absolute;
//         right: 50px;
//         z-index: 3;
//       }
//       .logo-background {
//         top: 50px;
//         border-radius: 100%;
//         background: #fff;
//       }
//       .white-link{
//         &:hover {
//           color: $white;
//         }
//         &:visited {
//           text-decoration: none;
//         }
//       }
//       .bottom-buttons, .bottom-buttons-schedule {
//         bottom: 110px;
//         display: block;
//         h2:first-child {padding-bottom: 20px;}
//         h2 {text-transform: uppercase;}
//         a {
//           &:after {
//             display:block;
//             content:'';
//             width:100%;
//             height:4px;
//             background: $white;
//             margin-top:-2px;
//           }
//         }
//         @media (max-width: 920px) {
//           left: 30px;
//           bottom: 120px;
//           h2 {font-size: 25px;}
//         }
//         @media (max-width: 900px) {
//           display: none
//         }
//       }
//       .mobile-register-link {
//         display: none;
//         h2 {
//           cursor: pointer;
//           margin-top: 20px;
//           color: $black;
//           background: $peach;
//           text-align: center;
//           font-family: 'adam-cg-pro', 'Montserrat', sans-serif;
//           letter-spacing: -1px;
//           display: inline-block;
//           font-size: 33px;
//           text-transform: lowercase;
//         }
//         @media (max-width: 900px) {
//           display: block;
//         }
//       }
//       .desktop-schedule-link {
//         display: block;
//         @media (max-width: 900px) {
//           display: none;
//         }
//       }
//       .one, .two, .three, .four, .five {
//         position: relative;
//         z-index: 1;
//         background: black;
//       }

//       .one, .four, .five, .five-shadow {
//         width: 30px;
//         height: 10px;
//         border-radius: 10px;
//       }

//       .one {
//         transform:
//           translateY(40px)
//           translateX(60px)
//           rotate(45deg);
//       }

//       .two, .three, .three-shadow {
//         width: 60px;
//         height: 10px;
//         border-radius: 10px;
//       }

//       .three-shadow, .five-shadow {
//         position: relative;
//         z-index: 0;
//         background: #FFCFBC;
//       }

//       .two {
//         transform:
//           translateY(41px)
//           translateX(20px)
//           rotate(-45deg);
//       }

//       .three {
//         transform:
//           translateY(67px)
//           translateX(20px)
//           rotate(45deg);
//       }

//       .three-shadow {
//           height: 20px;
//           border-radius: 4px;
//           transform:
//           translateY(38px)
//           translateX(15px)
//           rotate(45deg);
//       }

//       .four {
//         transform:
//           translateY(68px)
//           translateX(60px)
//           rotate(-45deg);
//       }

//       .five, .five-shadow {
//         width: 40px;
//        -webkit-transform:
//           translateY(60px)
//           translateX(90px);
//       }

//       .five-shadow {
//         height: 15px;
//         border-radius: 4px;
//         -webkit-transform:
//           translateY(34px)
//           translateX(88px)
//       }
//       .mountain, .mountain-two,
//       .mountain-three,
//       .mountain-back,
//       .mountain-two-back,
//       .mountain-three-back {
//           position: absolute;
//           bottom: 0;
//           z-index: 2;
//       }
//       .mountain {
//           border-left: 380px solid transparent;
//            border-right: 580px solid transparent;
//           border-bottom: 540px solid #FFCFBC;
//         left: -200px;
//         &-back {
//           border-left: 380px solid transparent;
//           border-right: 580px solid transparent;
//           border-bottom: 560px solid #fff;
//           left: -200px;
//           z-index: 1;
//         }
//       }

//       .mountain-two {
//        border-left: 380px solid transparent;
//         border-right: 580px solid transparent;
//         border-bottom: 550px solid #fff;
//         left: 50px;
//         bottom: -30px;
//         opacity: 1;
//         z-index: 0;
//       }
//       .mountain-three {
//           border-left: 350px solid transparent;
//           border-right: 580px solid transparent;
//           border-bottom: 500px solid #FFCFBC;
//           left: 302px;
//           bottom:-10px;
//           opacity: 1;
//           z-index: 1;
//         &-back {
//             border-left: 350px solid transparent;
//             border-right: 550px solid transparent;
//           border-bottom: 510px solid #fff;
//           left: 300px;
//           z-index: 0;
//         }
//       }

//       .cloud,
//       .cloud:after {
//         position: absolute;
//         width: 100px;
//         height: 60px;
//         background: #fff;
//         -webkit-border-radius: 100px / 50px;
//         border-radius: 100px / 50px;
//         z-index: 4;
//       }
//       .cloud {
//         -webkit-box-shadow: -26px 22px 102px -6px rgba(0,0,0,0.7);
//         -moz-box-shadow: -26px 22px 102px -6px rgba(0,0,0,0.7);
//         box-shadow: -26px 22px 102px -6px rgba(0,0,0,0.7);
//       }
//       .cloud {
//         &-1 {
//           top: 150px;
//           @-webkit-keyframes cloud-1 {
//             0%   { left: 350px; }
//             50%  { left: 1000px; }
//             100%  { left: 1500px; }
//           }
//           @keyframes cloud-1 {
//             0%   { left: 350px; }
//             50%  { left: 1000px; }
//             100%  { left: 1500px; }
//           }
//           -webkit-animation: cloud-1 50s infinite linear;
//                   animation: cloud-1 50s infinite linear;
//         }
//         &-2 {
//           top: 200px;
//           z-index: 2;
//           @-webkit-keyframes cloud-2 {
//               0%   { left: -800px; }
//               100% { left: 500px; }
//           }
//           @keyframes cloud-2 {
//               0%   { left: -800px; }
//               100% { left: 500px; }
//           }
//           -webkit-animation: cloud-2 50s infinite linear;
//                   animation: cloud-2 50s infinite linear;
//         }
//         &-3 {
//           top: 300px;
//           @-webkit-keyframes cloud-3 {
//               0%   { left: -100px; }
//               100% { left: 800px; }
//           }
//           @keyframes cloud-3 {
//               0%   { left: -100px; }
//               100% { left: 800px; }
//           }
//           -webkit-animation: cloud-3 50s infinite linear;
//                   animation: cloud-3 50s infinite linear;
//         }
//       }
//       .cloud:before {
//         content: '';
//         left: 50px;
//       }
//       .cloud:after {
//         content: '';
//         left: 25px;
//         top: -10px;
//       }

//       .info {
//         position: absolute;
//         z-index: 5;
//         text-align: left;
//         left: 40px;
//         @media (max-width: 500px) {
//           left: 30px;
//         }
//         h1 {
//           font-size: 40px;
//           @media (max-width: 500px) {
//             font-size: 25px;
//           }
//         }
//         h2 {
//           font-size: 30px;
//           @media (max-width: 500px) {
//             font-size: 20px;
//           }
//         }
//         h3 {
//           width: 500px;
//         }
//         p {
//           span {font-family: "Montserrat-Black";}
//           font-family: "Montserrat Light";
//           font-size: 25px;
//           margin: 0;
//           @media (max-width: 500px) {
//             font-size: 18px;
//           }
//         }
//         .brand-name {
//           display: none;
//           @media (max-width: 920px) {
//             display: block;
//           }
//         }
//         &-block:last-child {margin-top: 20px;}
//         &-top {
//           top: 100px;
//           @media (max-width: 500px) {
//             top: 185px;
//             margin-top: 0;
//           }
//         }
//         &-bottom {
//           bottom: 150px;
//           margin-top: 50px;
//           @media (max-width: 920px) {
//             top: 350px;
//             bottom: 300px;
//           }
//           @media (max-width: 500px) {
//             top: 230px;
//             bottom: 500px;
//           }
//         }
//       }
//       &.schedule {
//         height: auto;
//         .bg {
//           position: relative;
//         }
//         svg {
//           width: 100%;
//         }
//       .cloud,
//       .cloud:after {
//         position: absolute;
//         width: 10em;
//         height: 4em;
//         background: #fff;
//         -webkit-border-radius: 100px / 50px;
//         border-radius: 100px / 50px;
//         z-index: 4;
//       }
//       .cloud {
//         -webkit-box-shadow: -26px 22px 102px -6px rgba(0,0,0,0.7);
//         -moz-box-shadow: -26px 22px 102px -6px rgba(0,0,0,0.7);
//         box-shadow: -26px 22px 102px -6px rgba(0,0,0,0.7);
//       }
//       .cloud {
//         &-2 {
//           top: 40%;
//           z-index: 2;
//           @-webkit-keyframes cloud-2 {
//               0%   { left: 25%; }
//               100% { left: 100%; }
//           }
//           @keyframes cloud-2 {
//               0%   { left: 25%; }
//               100% { left: 100%; }
//           }
//           -webkit-animation: cloud-2 50s infinite linear;
//                   animation: cloud-2 50s infinite linear;
//         }
//         &-3 {
//           top: 30%;
//           @-webkit-keyframes cloud-3 {
//               0%   { left: 50%; }
//               100% { left: 100%; }
//           }
//           @keyframes cloud-3 {
//               0%   { left: 50%; }
//               100% { left: 100%; }
//           }
//           -webkit-animation: cloud-3 50s infinite linear;
//                   animation: cloud-3 50s infinite linear;
//         }
//       }
//       .cloud:before {
//         content: '';
//         left: 50px;
//       }
//       .cloud:after {
//         content: '';
//         left: 25px;
//         top: -10px;
//       }
//         .info {
//           &-top {
//             top: 50px;
//             margin-top: 50px;
//             .info-block {
//               margin-top: 40px;
//               h2 {
//                 padding-left: 30px;
//               }
//               p { font-size: 22px;}
//               span { font-family: "Montserrat-Light" }
//               &:first-child {
//                 margin-bottom: 30px;
//                 margin-top: 0;
//                 h2 {
//                   padding-left: 0;
//                 }
//               }
//             }
//           }
//           &-bottom {
//             bottom: 150px;
//             margin-top: 50px;
//           }
//         }
//       }
//     }
//   }
//   h3 {
//     text-align: left;
//     width: 160px;
//     margin: 0;
//     display: inline-block;
//   }
//   .collapse-divs {
//     text-align: center;
//     margin: 20px 0;
//   }
//   .well-content {
//     text-align: left;
//     h4 {
//       background: $other-grey;
//       display: inline-block;
//     }
//     margin: 0 auto;
//   }
// }

// .code-of-conduct {
//   width: 100%;
//   .box {
//     padding: 40px;
//   }
// }

// // BUTTONS
// span.btn-primary {
//   background-color: transparent;
//   border: 3px solid $black;
//   transition: background .5s;
//   color: $black;
//   // font-size: 18px;
//   font-weight: bolder;
//   &:hover {
//     background-color: $peach;
//     color: $black;
//   }
// }


// .button-container {
//   text-align: center;
//   position: relative;
//   z-index: 0;
// }

// .about {
//   .button-container {
//     margin-top: 30px;
//   }
// }

// .button {
//   font-family: lato,sans-serif;
//   font-weight: bold;
//   font-size: 1em;
//   letter-spacing: 0.1em;
//   text-decoration: none;
//   color: $black;
//   display: inline-block;
//   padding: 20px 40px 20px 40px;
//   position: relative;
//   border: 3px solid $black;
//   h1 {margin: 10px 0}
//   &:before {
//     border: 3px solid $peach;
//     background: $peach;
//     position: absolute;
//     content: "";
//     width: 100%;
//     height: 100%;
//     z-index: -1;
//   }
//   @media (max-width: 500px) {
//     padding: 10px 20px 10px 30px
//   }
// }

// .btn-small-container {
//   cursor: pointer;
//   display: inline-block;
//   .btn-small {
//     padding: 10px 20px 10px 20px;
//   }
// }

// .button {
//   border-radius: 5px;
//   &:before {
//     border-radius: 5px;
//     left: -8px;
//     top: 8px;
//   }
// }

// .footer {
//   background: #fff;
//   padding: 2em;
//   text-align: center;
//   clear: both;
//   &.col-sm-10,
//   &.col-md-10,
//   &.col-lg-8 {
//     margin: 0 auto;
//     float: none;
//   }
//   div {
//     display: inline-block;
//     &.social {
//       display: block;
//       text-align: center;
//     }
//   }
//   a:hover {
//     background-color: transparent;
//   }
//   a {
//     display: inline-block;
//     &:after {
//       display:block;
//       content:'';
//       width:100%;
//       height:4px;
//       background: $peach;
//       margin-top:-2px;
//     }
//   }
//   svg {
//     width: 30px;
//   }
// }