@import   "vars.scss";

html { overflow-x: hidden; }
body {
  font-family: 'Avenir', 'Helvetica', sans-serif;
  color: $black;
  width: 100%;
  height: 100%;
  font-size: 10px;
  margin: 0;
}

body > * {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

ul {
  padding: 0;
  li {
    list-style-type: none;
    display: inline-block;
  }
}

a {
  color: inherit;
  cursor: pointer;
  transition: background .5s;
  text-decoration: none;
  display: inline-block;
  background: none;
  &.accent {border-bottom: 1px solid $peach};
  &:hover,
  &:visited,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}


//////// STRUCTURAL SH*T  ////////

header {
  nav {
    padding-top: 20px;
    @include flexbox;
    justify-content: center;
    align-items: center;
    .logo_desktop {
      width: 25%;
      display: inline-block;
      svg {width: 180px}
      @media (max-width: 425px) {
        svg {width: 140px;}
      }
    }
    ul {
      width: 70%;
      margin: 0;
      @include flexbox;
      justify-content: flex-end;
      align-items: center;
      li {
        margin-left: 3em;
      }
    }
  }
  @media (max-width: 1024px) {
    margin-bottom: 30px;
  }
  @media (max-width: 425px) {
    nav {
      align-items: flex-start;
    }
  }
}

#instagram svg, #footer_instagram svg {width: 20px;}
#twitter svg, #footer_twitter svg {width: 25px;}
#facebook svg, #footer_facebook svg {width: 25px;}
#twitter, #facebook {
  margin-left: 0;
  margin-right: 0.5em;
}
#instagram {
  margin-right: 0.5em;
}

.m-events,
.m-content,
.m-confirmed,
.m-landing__combo,
.m-about {
  @include flexbox;
}

.m-content {
  flex-direction: column;
  background: #fff;
  position: relative;
  top: 0;
  min-height: 100%;
  z-index: 2;
  width: 100%;
  margin-top: -1px;
  transition: all 2s ease 0s;
  &.active {
    top: 380px;
    transition: all 2s ease 0s;
  }
}

.m-confirmed,
.m-about {
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  h2, h3, h4, p {
    font-size: 2em;
  }
  a {background: linear-gradient(-35deg, rgba($turquoise, 0.8), rgba($yellow, 0.8), rgba($purple, 0.8)); }
}

.m-confirmed {
  &__gradient {
    padding: 20px;
    background: linear-gradient(-35deg, rgba($turquoise, 0.8), rgba($yellow, 0.8), rgba($purple, 0.8));
    h2 {
      font-size: 3em;
    }
    h2, h4 {
      background: $white;
      display: inline-block;
    }
  }
}

.m-landing {
  width: 90%;
  margin: 0 auto;
  font-family: "Montserrat-Black";
  text-transform: uppercase;
  &__combo {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 0 auto 100px auto;
  }
  &__picture {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #first-landing-picture {
    background-image: image-url("first_landing.jpg");
  }

  #second-landing-picture {
    background-image: image-url("second_landing.jpg");
  }

  #wellness-landing-picture {
    background-image: image-url("wellness_landing.jpg");
  }

  #third-landing-picture {
    background-image: image-url("third_landing.jpg");
  }

  #last-landing-picture {
    background-image: image-url("last_landing.jpg");
  }

  &__combo &__picture {
    width: 50%;
  }

  &__combo &__text {
    line-height: 1.5em;
    background: none;
    background: linear-gradient(-35deg, $mango, $yellow, $purple, $pop);
    background-size: cover;
    border-radius: 3px;
    background-size: 400% 400%;
    width: 30%;
    font-size: 4em;
    padding: 80px;
    text-align: center;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    span {
      background: $white;
    }
  }

  &.confirmed {
    #mc_embed_signup {
      display: none;
    }
  }
  #mc_embed_signup {
    text-align: center;
    background: linear-gradient(-35deg, rgba($turquoise, 0.8), rgba($yellow, 0.8), rgba($purple, 0.8));
    font-size:13px;
    font-family: "Montserrat-Black", Helvetica, sans-serif;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    label {
      width: 100%;
    }
    h2, h3 {
      background: $white;
      margin: 0;
      display: inline-block;
      transition: all 0.3s ease-out;
    }
    h2 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 2em;
      margin-top: 10px;
    }
  }

  #mce-EMAIL {
    border: transparent;
    background: $white;
    border-bottom: 0.3px solid $white;
    padding-left: 3px;
    display: block;
    width: 250px;
    font-size: 18px;
    text-align: center;
  }

  @media (max-width: 1024px) {
    &__combo {
      justify-content: space-between;
    }
    &__combo &__picture {
      width: 100%;
    }
    &__combo &__text {
      position: absolute;
      font-size: 2.5em;
      width: 35%;
      margin-top: 18%;
    }
    &__combo &__text:nth-of-type(1n) {
      right: 2em;
    }
    &__combo &__text:nth-of-type(2n) {
      left: 2em;
    }
    &__combo .m-component__action-button {
      position: absolute;
      width: 40%;
      font-size: 2em;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: linear-gradient(-35deg, rgba($turquoise, 0.8), rgba($purple, 0.8));
    }
    #mc_embed_signup {
      h2 {font-size: 2em}
      h3 {font-size: 1.5em}
    }
  }

  @media (max-width: 768px) {
    // padding: 60px;
  }
  @media (max-width: 425px) {
    &__combo {
      margin: 0 auto 50px auto;
    }
    &__combo &__picture {
      width: 100%;
      height: 200px;
    }
    &__combo &__text {
      width: 65%;
      padding: 10px;
      font-size: 1.5em;
    }
    &__combo &__text:nth-of-type(1n) {
      right: 1em;
    }
    &__combo .m-component__action-button {
      font-size: 1.5em;
    }
    #mc_embed_signup {
      h2 {font-size: 1.5em}
      h3 {font-size: 1.2em}
    }
  }

  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
}

// // EVENTS INDEX

.m-events {
  justify-content: center;
  flex-wrap: wrap;
  justify-items: center;
  width: 80%;
  margin: 0 auto;
  &__event-card {
    width: 30%;
    margin: 10px;
    img {
      width: 100%;
    }
    &__info {
      @include flexbox;
      justify-content: space-around;
      flex-direction: column;
    }
  }
  @media (max-width: 768px) {
    width: 90%;
  }
  @media (max-width: 425px) {
    &, &__event-card {
      width: 100%;
    }
  }
}

.m-confirmed {

}

.m-component__inputs {
  @include flexbox;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 50px;
  input {
    margin: 0 20px 0 20px;
    padding: 20px;
  }
}

footer {
  @include flexbox;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0;
  padding: 0;
  padding-top: 50px;
  h3 {font-size: 2em;}
  ul li {margin: 0;}
  & > * {
    width: 100%;
    margin-bottom: 20px;
  }
  hr {
    width: 80%;
    margin: 0 auto;
  }

  .m-footer__menu-items ul {
    width: 30%;
    @include flexbox;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat-Black", Helvetica, sans-serif;
    flex-wrap: wrap;
    li {
      font-size: 1.8em;
      margin-left: 1em;
      text-transform: uppercase;
    }
  }

  .m-content__sponsors-partners {
    &__logos,.m-content__sponsors-partners__logos .logo-container {
      @include flexbox;
      justify-content: center;
      justify-items: center;
      flex-wrap: wrap;
      align-items: center;
    }
  }
  @media (max-width: 425px) {
    h3 {font-size: 1.7em;}
  }
}

// // PRETTY SH*T

h1, h2, h3, h4 {
  font-family: "Montserrat-Black", Helvetica, sans-serif;
  display: block;
  text-transform: uppercase;
}

header {
  font-family: "Montserrat-Black";
  li {font-size: 1.8em; margin: 0; text-transform: uppercase;}
  .logo a {
    &:hover {
      background: none;
    }
  }
  .nav__hamburger-menu {
    // thanks to https://codepen.io/designcouch/pen/Atyop
    width: 45px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 9px;
      width: 100%;
      background: $peach;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }
    span:nth-child(1) {
      top: 0px;
    }

    span:nth-child(2),span:nth-child(3) {
      top: 18px;
    }

    span:nth-child(4) {
      top: 36px;
    }

    &.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    &.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    display: none;
  }
  .nav__menu-items-mobile {
    display: none;
    background: $deep-turquoise;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 1px;
    margin-top: 1px;
    text-align: center;
    top: 135px;
    bottom: 0;
    left: 0;
    right: 0;
    li {
      text-transform: uppercase;
      font-family: "Montserrat-Black", Helvetica;
      font-size: 2.5em;
      display: block;
      padding:15px 0;
      background: none;
      margin: 0;
    }
    button {
      margin: 0 auto;
      padding: 0;
    }
  }
  @media (max-width: 800px) {
    nav {
      justify-content: space-between;
      .nav__menu-items {display: none;}
      .nav__menu-items-mobile {display: block;}
      .nav__hamburger-menu {
        display: block;
        max-width: 100px;
        cursor: pointer;
      }
    }
  }
}

.m-events {
  &__event-card {
    cursor: pointer;
    border: 1px solid $light-grey;
    &__info {
      padding: 0 20px 0 20px;
      h4 {font-size: 1.8em;font-family: "Montserrat-Black", Helvetica, sans-serif;}
      p { font-size: 1.2em; }
    }
  }
  @media (max-width: 425px) {
    h4 {font-size: 1.2em;}
  }
}


footer {
  background: $light-grey;
  padding: 0;
  padding-top: 50px;
  font-size: 10px;
  font-family: "Montserrat-Black";
  @include clearfix;
  .m-footer__menu-items {
    margin-top: 10px;
  }
  .m-content__sponsors-partners {
    .m-content__sponsors-partners__logos {
      .logo-container {
        width: 100px;
        height: 100px;
        border-radius: 5px;
        margin: 20px;
        background: $other-grey;
        cursor: pointer;
        &:hover {
          background: $turquoise;
        }
      }
      img {
        max-width: 80px;
      }
    }
  }
}

.m-footer__sitemap {
  @include clearfix;
  margin-bottom: 50px;
}

.m-footer__copyright {
  clear: both;
  text-align: center;
  padding: 20px 0;
  font-size: 1.5em;
  font-family: "Avenir";
  a {
    display: inline-block;
    background: $other-grey;
  }
}

