<h1>about COLOR CODED</h1>

<p>Color Coded is an initiative and a community for people of color in the tech industry and other creative fields. Through a series of thoughtfully designed events, Color Coded strives to uplift people of color as they gain the tools, the skills, and the network they want to get that promotion, run a business, or simply feel the power of knowledge.</p>
<p> All events will be collaborative, pedagogical, and incorporate a self-care component. Topics and themes will go from code, to entrepreneurship, to any creative skill imaginable. </p>

<p> The Color Coded initiative is sponsored by <a href="http://voxmedia.com">Vox Media Inc</a>. It was started by <a href="http://twitter.com/pam_yam">Pam Assogba</a>, a Full Stack Engineer at Vox. You can read more about why she did it <a href="https://medium.com/@pam_yam/i-did-a-thing-b00a3721529e#.s7avcaz4q">here</a>.</p><br><p>Would you like to collaborate on an event? <a href="mailto:colorcoded@voxmedia.com">Go ahead and reach out!</a></p>

