<div class="logo col-lg-6 col-md-6 col-sm-12">
  <%= render_partial "partials/svg/logo.svg" %>
</div>

<div class="tldr button-container col-lg-6 col-md-6 col-sm-12">
  <div class="button">
    <h1> Color Coded: <span><br>an Empowering unhackathon for people Of Color</span> </h1>
    <h2> NOV 5TH-6TH 2016 </h2>
    <h2><%= partial "partials/svg/grey_marker.svg" %> iStrategy Labs <span> 641 S St NW |  Washington, DC 20001</span></h2>
    <div class="button-container button-container-small"> <a class="button button-before-small" href="https://www.eventbrite.com/e/color-coded-an-empowering-unhackathon-for-people-of-color-tickets-28823917112"><h1>REGISTER!</h1></a> </div>
  </div>
</div>