<h1>DESIGN YOUR POWER </h1>

<p>Color Coded is partnering with AIGA DC to bring you a series of creative events for people of color. Join us on <span class="accent">Feb 18th - 19th 2017 </span> for a workshop that will combine design and CSS, a language that describes how elements should be rendered on screen, on paper, in speech, or on other media.</p>
<p>On day one, we will take vison boards to the next level. Designers will create posters that embody their goals, dreams, and ambitions.<br>
Day two will begin with a CSS class that will cover basics, intermediate principles, and best practices. After the class, designers will turn their posters into code.<br>Breakfast, snacks, and lunch will be provided both days.</p>

<p>By attending, you agree to follow our <a href="code-of-conduct.html">Code of Conduct</a>. </p>

<p>Curious about Color Coded events? <a href="recap.html">Check out this recap.</a></p>
