<h1>faq</h1>

<div class="well">
  <div class="well-content">
    <h4>I do not identify as a Person of Color, but I fully support the cause. Can I participate?</h4>

    <p>We welcome all applicants – but please keep in mind that this space is primarily created for people of color.</p>

    <h4> Is this event free? </h4>
    <p> Yes! This event is completely free. We ask that you sign up <b>only</b> if you are serious about attending as we will provide food and gift boxes. We don't want it to go to waste! </p>

    <h4> Will there be food? </h4>

    <p>Yes! We will offer a variety of options for breakfast, lunch, snacks, and beverages.</p>

    <h4>Who can participate?</h4>

    <p>Are you a Person of Color? Are you a designer? Do you consider yourself to be a creative? Do you want to learn more about code, and especially CSS?</p>

    <h4>Will we be working in groups?</h4>

    <p>Nope! The designs will be individual to fully represent your personal ambitions.</p>

    <h4>Do I have to be there both days?</h4>

    <p>We strongly suggest attending both days to get the full Color Coded experience!</p>

    <h4>What will happen to my design after the workshop?</h4>

    <p>We will showcase it on our site and send you the printed version!</p>

</div>
</div>

