<div class="m-content--flyer">
  <div class="bg">
    <div class="desktop">
      <div class="logo-background">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="five"></div>
        <div class="three-shadow"></div>
        <div class="five-shadow"></div>
      </div>
      <div class="info info-top">
        <div class="info-block">
          <h1> DESIGN YOUR POWER </h1>
          <h2> a design & css workshop </h2>

          <p>IN PARTNERSHIP WITH <span>AIGA DC</span></p>
        </div>
      </div>
      <div class="mountain"></div>
      <div class="mountain-two"></div>
      <div class="mountain-three"></div>
      <div class="mountain-back"></div>
      <div class="mountain-three-back"></div>
      <div class="cloud cloud-1"></div>
      <div class="cloud cloud-2"></div>
      <div class="cloud cloud-3"></div>
      <div class="mountain"></div>

      <div class="info info-bottom">
        <div class="info-block">
          <p> <%= render_partial 'partials/svg/marker.svg' %> <a href="https://goo.gl/maps/DXFng6xCYAp" class="white-link" target="_blank"> GENERAL ASSEMBLY DC </a></p>
          <p> <%= render_partial 'partials/svg/date.svg' %> FEB 18TH - 19TH</p>
          <p> <%= render_partial 'partials/svg/clock.svg' %> 10AM - 4PM BOTH DAYS</p>
        </div>
      </div>

    </div>

    <div class="small-flyer">
      <%= render_partial 'partials/svg/small_flyer.svg' %>
    </div>

    <div class="bottom-buttons">
      <h2><a class="white-link" href="#schedule">SCHEDULE</a></h2>
      <h2><a class="white-link" href="https://www.eventbrite.com/e/color-coded-design-your-power-tickets-31601630327" target="_blank">REGISTER</a></h2>
    </div>
  </div>
<div class="mobile-register-link"><h2 style="text-transform: uppercase;"><a href="https://www.eventbrite.com/e/color-coded-design-your-power-tickets-31601630327" target="_blank">REGISTER</a></h2></div>
</div>