
<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="button-container">
    <div class="button">
      <h1>Color Coded first edition:</h1>
    </div>
  </div>
<br>
<br>
  <h2>The summary</h2>
  <div class="col-lg-12 col-md-12 col-sm-12">
      <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
    <div class='embed-container'><iframe src='https://player.vimeo.com/video/195344837' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    <p class="m-content--dek">Color Coded is an initiative created by People of Color, for People of Color in the tech industry. Through a series of thoughtfully designed collaborative events, Color Coded's goals are to contribute to the creation of safe spaces for underrepresented communities and help People of Color gain the tools, skills, and network they need to get that promotion, run a business, or simply feel the power of knowledge.</p>
      <p class="m-content--dek"> Each event will take place in the form of a collaborative and/or pedagogical gathering. Topics and themes will vary and go from code, to entrepreneurship, to maintaining mental and physical wellness. </p>
      <p class="m-content--dek">Our first edition took place in Washington, DC over the weekend of Nov 5th and 6th, in the form of an unhackathon – a gathering during which people built things with camaraderie and good vibes. There were no winners, no trophies, and no stress. </p>
      <p class="m-content--dek">We felt strongly about promoting self-care in this first edition, thus made sure to incorporate wellness segments in the schedule with a guided lunch discussion about mental wellness as a Person of Color in the workplace and a yoga session.<br>
        In the same vein, we chose iStrategy Labs for our location as it offers a modern and spacious layout. It is great for alone time, or having team meetings away from the main crowd. Finally, we ensured that everyone was fed by providing plenty of snacks and regular meals! <br>
      We established a 50 seats limit in order to preserve a sense of intimacy and they all sold out quickly! The day of, around 40 brilliant people arrived with skills ranging from UX design, to code, to broadcast journalism. </p>
      <p class="m-content--dek">Check out some of the Color Coded projects below!</p>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
  <br>

  <div class="m-content--project col-lg-12 col-md-12 col-sm-12">
      <h2><a href="https://projects.invisionapp.com/share/7X987ADKY#/screens/203029209_Colorfy-Home-Page">Colorfy  <%= render_partial "partials/svg/arrow.svg" %></a></h2>
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/czw5C8mu3ic' frameborder='0' allowfullscreen></iframe></div>

        <p><span class="m-content--subtitle"> What is it? </span></p>
        <p>
        Colorfy is a digital storytelling platform designed to cover stories of success and inspiration of people of color, by people of color, authentically and with integrity. Colorfy aims to combat the current representation of people of color in the media with positivity. Oftentimes coverage of people of color is followed with negativity and reinforcement of negative stigmas and stereotypes. We aim to capture the color and culture and success of the POC community beyond the lens.
        </p>
        <p><span class="m-content--subtitle"> Who is behind it? </span></p>
        <p>
        Colorfy is founded by Jazmin Goodwin, a junior studying journalism and graphic design at Howard University. The rest of the Colorfy team consists of Phim Her, Bian Elkhatib, Melissa Young, RaShaun Eshalomi. Our team is committed to pushing positivity, purpose and passion into the community to spearhead dialogue and support of underrepresented stories, narratives and talents.
      </p>
  </div>

  <div class="m-content--project col-lg-12 col-md-12 col-sm-12">
      <h2> <a href="https://projects.invisionapp.com/share/WJ98LQ5GM#/screens/203256987"> Barz <%= render_partial "partials/svg/arrow.svg" %></a></h2>
      <img src="../images/barz.png">
        <p><span class="m-content--subtitle"> What is it? </span></p>
        <p>
        Barz is a mobile application designed to capture your friends' raw talent over classic hip-hop beats, and other sounds uploaded by up and coming producers.
      </p>
      <p>
        <p><span class="m-content--subtitle"> Who is behind it? </span></p>
        <p>
        Barz is founded by Zuri Hunter, a developer at HumanGeo. Ameer Carter worked on design, A. Chigozie worked on Content Delivery, and Rob Miller also worked on the code.
      </p>
  </div>

  <div class="m-content--project col-lg-12 col-md-12 col-sm-12">
      <h2> <a href="https://www.messenger.com/t/1089326087783174">Iyanla <%= render_partial "partials/svg/arrow.svg" %></a></h2>
      <img src="../images/iyanla.jpg">
        <p><span class="m-content--subtitle"> What is it? </span></p>
        <p>
        Iyanla is a Facebook conversation bot for people of color dealing with race-based aggression. This project is open-source! You can check out the code <a href="https://github.com/harrissAvalon/IyanlaBot">here</a>.
      </p>
      <p>
        <p><span class="m-content--subtitle"> Who is behind it? </span></p>
        <p>
        Iyanla is developed by Stephon Harris, founder of <a href="https://twitter.com/blkcodecollctve">Black Code Collective</a> and developer at Avalon Consulting, LLC.
      </p>
  </div>


<br>
<br>
<div class="col-lg-12 col-md-12 col-sm-12">
  <h2>Takeaways</h2>
  <p class="m-content--dek">Overall, things went pretty smoothly! Minus a few glitches with transitioning from hacking to a wellness segment. We'll work on that. We will also be mindful of having more vegan options for food, and most importantly maintain inclusivity throughout the event. </p>
  <p class="m-content--dek">HUGE thanks to <a href="http://www.voxmedia.com/pages/about-vox-media">VoxMedia</a>, <a href="https://isl.co/">iStrategy Labs</a>, <a href="http://maketto1351.com/">Maketto</a>, and <a href="http://www.andpizza.com/">&pizza</a> for sponsoring 🙏🏿🙏🏾🙏🏽🙏🏼</p>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
  <p>Find us on <a href="https://twitter.com/wearecolorcoded">Twitter</a> and <a href="https://www.instagram.com/wearecolorcoded/">Instagram</a>, and stay tuned for more!</p>
</div>
