<div class="col-sm-10 col-md-10 col-lg-8 m-content--tabs">
  <div class="col-sm-6 col-md-6 col-lg-6 m-content--tab">
    <h1>First Color Coded recap</h1>
  </div>

  <div class="col-sm-6 col-md-6 col-lg-6 m-content--tab">
    <h1> (some) Projects</h1>
  </div>
</div>