<footer class="col-sm-12 col-md-12 col-lg-12">
  <div class="m-content__sponsors-partners">
    <h3>
      meet our sponsors & partners
    </h3>
    <div class="col-lg-10 col-md-10 col-sm-10 m-content__sponsors-partners__logos">
      <a href="http://www.aiga.org"><div class="logo-container"><img src="/images/logos/aiga.png"></div></a>
      <a href="http://www.isl.co"><div class="logo-container"><img src="/images/logos/isl_logo.png"></div></a>
      <a href="http://www.andpizza.com"><div class="logo-container"><img src="/images/logos/&pizza.png"></div></a>
      <a href="http://www.maketto1351.com"><div class="logo-container"><img src="/images/logos/maketto_logo.jpg"></div></a>
      <a href="http://www.taylorgourmet.com"><div class="logo-container"><img src="/images/logos/taylor_gourmet_logo.png"></div></a>
      <a href="http://www.localeworkspace.com"><div class="logo-container"><img src="/images/logos/locale.png"></div></a>
    </div>
  </div>

  <div class="col-sm-10 col-md-10 col-lg-10">
    <hr style="margin: 0 auto">
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12 ">
    <div class="m-footer__sitemap">
      <div class="col-sm-6 col-md-6 col-lg-6 m-footer__menu">
        <ul>
          <li><h3><a target="_blank" href="/events">Events</a></h3></li>
          <li><h3><a target="_blank" href="/about">About</a></h3></li>
          <li><h3><a href="https://open.spotify.com/user/wearecolorcoded" target="_blank">music</a></h3></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 m-footer__social">
        <ul>
          <li><a target="_blank" href="http://instagram.com/wearecolorcoded"><%= render_partial 'partials/svg/insta.svg' %></a></li>
          <li><a target="_blank" href="http://twitter.com/wearecolorcoded"><%= render_partial 'partials/svg/twitter.svg' %></a></li>
          <li><a target="_blank" href="http://facebook.com/wearecolorcoded"><%= render_partial 'partials/svg/fb.svg' %></a></li>
          <li><a href="mailto:team@wearecolorcoded.us"><%= render_partial 'partials/svg/email.svg' %></a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4 col-lg-4 m-footer__copyright">
    <a target="_blank" href="mailto:team@wearecolorcoded.us">Get in touch.</a><br>
    Color Coded™ – All Rights Reserved - 2017
  </div>

</footer>