<footer class="col-sm-10 col-md-10 col-lg-10 ">

  <div class="col-sm-12 col-md-12 col-lg-12 ">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="//wearecolorcoded.us15.list-manage.com/subscribe/post?u=90ab031ee300e58e193aedc5d&amp;id=86428d4a4d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL"><h2 class="highlighted">join our slack community & get the scoop on our new content</h2></label>
        <div class="m-footer__inputs">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_90ab031ee300e58e193aedc5d_86428d4a4d" tabindex="-1" value=""></div>
          <input type="submit" value="sign up" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
    <div class="m-footer__sitemap">
      <div class="col-sm-6 col-md-6 col-lg-6 m-footer__menu">
        <ul>
          <li><h3><a href="#">Donate</a></h3></li>
          <li><h3><a href="#events">Events</a></h3></li>
          <li><h3><a href="#about">About</a></h3></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 m-footer__social">
        <ul>
          <li><h3><a href="http://instagram.com/wearecolorcoded">Instagram</a></h3></li>
          <li><h3><a href="http://twitter.com/wearecolorcoded">Twitter</a></h3></li>
          <li><h3><a href="http://facebook.com/wearecolorcoded">Facebook</a></h3></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4 col-lg-4 m-footer__copyright">
    <a href="mailto:team@wearecolorcoded.us">Get in touch.</a><br>
    Color Coded™ – All Rights Reserved - 2017
  </div>

</footer>