<header>
  <nav class="nav__top-elements">
    <div class="logo logo_desktop"><a href="/"><%= render_partial 'partials/svg/logo_desktop.svg' %></a></div>
    <div class="nav__hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </a></div>
    <ul class="nav__menu-items">
      <li id="events"><a target="_blank" href="https://www.meetup.com/colorcoded/events/calendar/">Meetups & Workshops</a></li>
      <li id="about"><a href="/about">About</a></li>
      <li id="instagram"><a target="_blank" href="http://instagram.com/wearecolorcoded"><%= render_partial 'partials/svg/insta.svg' %></a></li>
      <li id="twitter"><a target="_blank" href="http://twitter.com/wearecolorcoded"><%= render_partial 'partials/svg/twitter.svg' %></a></li>
      <li id="facebook"><a target="_blank" href="http://facebook.com/wearecolorcoded"><%= render_partial 'partials/svg/fb.svg' %></a></li>
    </ul>
    <ul class="nav__menu-items-mobile">
      <li><a href="/events">Events</a></li>
      <li><a href="/about">About</a></li>
      <li><a target="_blank" href="http://instagram.com/wearecolorcoded">instagram</a></li>
      <li><a target="_blank" href="http://twitter.com/wearecolorcoded">twitter</a></li>
      <li><a target="_blank" href="http://facebook.com/wearecolorcoded">facebook</a></li>
    </ul>
  </nav>
</header>