---
title: About Us
---

<div class="m-about">
  <div class="m-content__about-block">
    <p> Color Coded is a community that empowers people of color in tech by providing safe spaces devoid of the judgement, expectations, and pressures of our daily lives. </p> <p> Our community promotes creativity, growth, and wellness.</p> <h4> Who is Color Coded for?</h4><p> All poc, allies, and diversity advocates that are involved in tech, and/or want to develop their technical skills. </p>
    <h4> our vision </h4>
    <p>We believe that growing technical skills (<i> ex: web development, software engineering, design, etc...</i>) is extremely empowering, nurtures confidence, and is a gateway to financial and creative freedom.
    </p>
    <h4> our mission </h4>
    <p>
      We aim to: 1) hold workshops and co-working sessions 2) encourage genuine connections and prioritize wellness + chill vibes with social events, 3) have a good and stress-free time.
    </p>
    <h4> our story </h4>
    <p>
      Color Coded was founded in 2016 by <a target="_blank" href="http://twitter.com/pam_yam">Pam</a>, a software engineer, design lover, and wellness proponent.</p>
      <p>It started as an <a target="_blank" href="https://vimeo.com/195344837">unHackathon</a>, a collaborative event where creatives huddled to develop products benefiting communities of color. The event, sponsored by Vox Media, alleviated stress by removing prizes, and deadlines. It gave attendees the space to focus on their creation while forming genuine bonds! </p> <p>That one event led to a growing community of creative of colors and allies meeting bi-weekly during our <a target="_blank" href="https://www.meetup.com/colorcoded/events/calendar/">meetups</a>, learning new skills during our <a target="_blank" href="https://www.meetup.com/colorcoded/events/calendar/">workshops</a>, and sharing tips, ideas, and even music in our <a href="#mc_embed_signup_scroll">Slack channel</a>.
    </p>
    <h4> work with us </h4>
    <p> We love collaborating! <a href="mailto:team@wearecolorcoded.us">Drop us a line </a> w/ your ideas, thoughts, or a hello! </p>
  </div>
</div>