---
title: About Us
---

<div class="m-content__header-block">
  <div class="m-content__header-highlight">
    <h1 name="events">about us</h1>
  </div>
</div>
<div class="col-sm-10 col-md-10 col-lg-10 m-content__block">
  <div class="m-content__about-block">
    <img src="images/team_2.jpg">
    <span><i>(from left to right): <a href="http://twitter.com/pamyam">Taqwa</a> - Communications Director | <a href="http://twitter.com/samadaramola">Sam</a> - Content Strategist | <a href="http://instagram.com/sirmeadows">Mike</a> - Art Director | <a href="http://twitter.com/pamyam">Pam</a> - Founder </i></span>
    <p> Color Coded is a nurturing, safe, and empowering space for people of color. </p>
    <h4> our vision </h4>
    <p>We believe in healing marginalized communities by creating safe spaces where we can fully be ourselves without looming stereotypes, microagressions, and/or code-switching.</p>
    <p>We believe that exposure to a range of different skills will improve our professional lives, free us financially, and nurture our growth & confidence.
    </p>
    <h4> our mission </h4>
    <p>
      We provide educational programming covering topics such as code, design, entrepreneurship, and more.
    </p>
    <img src="images/team_3.jpg">
    <p> We love collaborating! <a href="mailto:team@wearecolocoded.us">Drop us a line </a> w/ your ideas, or a simple hello! </p>
  </div>
</div>