---
title: About Us
---

<div class="m-content__header-block">
  <div class="m-content__header-highlight">
    <h1 name="events">about us</h1>
  </div>
</div>
<div class="col-sm-10 col-md-10 col-lg-10 m-content__block">
  <div class="m-content__about-block">
    <img src="https://dl.dropboxusercontent.com/s/8goxao5gq3efn4o/team_2.jpg?dl=0">
    <span><i>(from left to right): <a href="https://twitter.com/iam_taqwa">Taqwa</a> - Communications | <a href="http://twitter.com/samadaramola_">Sam</a> - Digital Content | <a href="https://twitter.com/sirmeadows">Mike</a> - Marketing | <a href="http://twitter.com/pam_yam">Pam</a> - Founder & Operations</i></span>
    <p> Color Coded is a community for the curious and creative in tech, or wanting to get in tech AND a safe space that believes in inclusivity and equity. </p>
    <h4> our vision </h4>
    <p>We believe that having technological skills is extremely empowering and necessary.</p>
    <p>We believe that exposing our community to the tech industry's different dimensions will spark ideas, improve professional lives, provide financial freedom, and nurture growth & confidence.
    </p>
    <h4> our mission </h4>
    <p>
      We aim to: 1) hold workshops and co-working sessions 2) encourage genuine connections and prioritize wellness + chill vibes with social events, 3) have a good and stress-free time.
    </p>
    <img src="https://dl.dropboxusercontent.com/s/22w9vt9ai9ncyai/team_3.jpg?dl=0">
    <p> We love collaborating! <a href="mailto:team@wearecolocoded.us">Drop us a line </a> w/ your ideas, thoughts, or a hello! </p>
  </div>
</div>