---
title: Confirmed!
---

<section class="m-confirmed">
  <div class="m-confirmed__gradient">
    <h2>
      Welcome to the fam!
    </h2>
    <br>
    <h2>
      We received your Slack request.<br>
      Expect an invitation in your inbox soon.
    </h2>
    <h4>until then check us out on social media:  @wearecolorcoded</h4>
  </div>
</section>