---
title: Color Coded
---

<div class="row">

  <% if latest_event.present? %>
    <div class="col-sm-12 col-md-10 col-lg-10 m-content__index-wrapper-main">
      <div class="m-content__index-title-container">
        <h1 class="m-content__index-title alert">Save The Date!</h1>
      </div>
      <div class="m-content__index-container">
        <a target="_blank" href="<%= latest_event.metadata[:page]['register'] %>">
          <img src="<%= latest_event.metadata[:page]['img'] %>">
        </a>
      </div>
      <div class="m-content__index-title-container">
          <h2 class="m-content__index-subtitle">tickets coming soon </h2>
      </div>
    </div>
  <% end %>

  <div class="col-sm-12 col-md-10 col-lg-10 m-content__index-wrapper-sec">
    <div class="col-sm-12 col-md-6 col-lg-6 m-content__index-container-sec">
      <a href="/events">
        <div class="m-content__index-container">
          <img src="/images/workshop.jpg">
        </div>
        <div class="m-content__index-title-container">
          <h1 class="m-content__index-title"> our Events </h1> <br>
        </div>
      </a>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 m-content__index-container-sec">
      <a href="/about">
        <div class="m-content__index-container">
          <img src="https://dl.dropboxusercontent.com/s/8goxao5gq3efn4o/team_2.jpg?dl=0">
        </div>
        <div class="m-content__index-title-container">
          <h1 class="m-content__index-title"> About us </h1>
        </div>
      </a>
    </div>
  </div>

  <div class="col-sm-10 col-md-8 col-lg-8 m-content__intermission">
    <%= render_partial './partials/svg/logo_mobile.svg' %>
    <h2 class="alternate-title"> community + creativity + wellness </h2>
    <h4>follow us @wearecolorcoded</h4>
  </div>

  <div class="col-sm-12 col-md-10 col-lg-10 m-content__index-wrapper-sec">
    <div class="col-sm-12 col-md-6 col-lg-6 m-content__index-container-sec">
    <iframe src="https://open.spotify.com/embed/user/wearecolorcoded/playlist/5q92KO3dBi6SinpGtRTNEl?&theme=white" width="100%" height="280" frameborder="0" allowtransparency="true"></iframe>
      <div class="m-content__index-title-container">
        <h1 class="m-content__index-title"> weekly vibe 002 </h1>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 m-content__index-container-sec">
    <iframe src="https://open.spotify.com/embed/user/wearecolorcoded/playlist/0cwLgPbOs1sqgZBBpqL8Hl?&theme=white" width="100%" height="280" frameborder="0" allowtransparency="true"></iframe>
      <div class="m-content__index-title-container">
        <h1 class="m-content__index-title"> weekly vibe 001 </h1>
      </div>
    </div>
  </div>

  <div class="col-sm-8 col-md-8 col-lg-8 m-content__announcement">
    <h4> visit us on <a href="https://open.spotify.com/user/wearecolorcoded" class="accent">Spotify </a> for more CC weekly vibes</h4>
    <p>join our slack below for Apple Music</p>
  </div>


  <div class="col-sm-12 col-md-10 col-lg-10 m-content__index-wrapper">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//wearecolorcoded.us15.list-manage.com/subscribe/post?u=90ab031ee300e58e193aedc5d&amp;id=86428d4a4d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">
            <h3>subscribe</h3>
            <h4>receive news and updates + get invited to our Slack channel</h4>
          </label>
          <div class="m-footer__inputs">
            <input type="text" value="" name="FIRSTNAME" id="mce-FIRSTNAME" placeholder="your name" required>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_90ab031ee300e58e193aedc5d_86428d4a4d" tabindex="-1" value=""></div>
          </div>
          <input type="submit" value="sign up" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
</div>
