---
title: Color Coded
---

<!-- main body -->
<div class="row m-content about">
  <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="logo">
      <%= render_partial 'partials/svg/logo.svg' %>
    </div>
    <ul>
      <li><a target="_blank" href="http://instagram.com/wearecolorcoded"><%= render_partial 'partials/svg/insta.svg' %></a></li>
      <li><a target="_blank" href="http://twitter.com/wearecolorcoded"><%= render_partial 'partials/svg/twitter.svg' %></a></li>
      <li><a target="_blank" href="http://facebook.com/wearecolorcoded"><%= render_partial 'partials/svg/fb.svg' %></a></li>
    </ul>
    <h1>hang tight! <br>color coded is getting a makeover</h1>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-4 links">
    <p> In the meantime, check out some links to get you through the week:</p>
    <ul>
      <li>🎨 We're LOVING Netflix's <a target="_blank" href="https://www.youtube.com/watch?v=DYaq2sWTWAA">Abstract</a> design documentary. Dope for one, or many nights in. </li>
      <li>📚 It's almost time for the Persian New Year aka Nowruz! <a target="_blank" href="http://www.vox.com/2016/3/20/11265872/persian-new-year-nowruz">Find out more</a> about what it is and what it means.</li>
      <li>🙌 Get inspired by Anderson Paak's <a target="_blank" hreaf="http://pitchfork.com/features/rising/9827-anderson-paak-and-the-power-of-positive-rb/">incredible story</a>. #oldiebutgoodie</li>
      <li>✨ Check out this week's <a target="_blank" href="http://girlsnightinclub.com">Girls' Night In</a> and get you some self-care tips from <a target="_blank" href="http://girlsnightinclub.com/posts/christiana-greene-vintage-aficianado-and-master-of-the-glowing-selfie/">Christiana Greene</a>.</li>
      <li>😂 When working from home <a target="_blank" href="https://www.nytimes.com/2017/03/10/world/europe/bbc-interview-toddler-interruption.html">doesn't go as planned...</a></li>
    </ul>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4 links">
    <p class=""> Not sure what Color Coded is? <a target="_blank" href="https://medium.com/@pam_yam/i-did-a-thing-b00a3721529e#.ct89cz9r3">We gotchu.</a> </p>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4 links" style="padding: 0; text-align: center; margin-bottom: 20px;">
     Color Coded™ – All Rights Reserved - 2017 <br>
     Sponsored by <a href="http://voxmedia.com" target=_blank>Vox Media Inc</a>
  </div>
</div>
