---
title: Color Coded
---

<div class="row">
  <div class="col-sm-10 col-md-10 col-lg-10 m-content__index-wrapper">
    <div class="m-content__index-container">
      <a href="/events">
        <img src="images/workshop.jpg">
        <div class="m-content__index-title-container">
          <h1 class="m-content__index-title">
            Events </h1> <br>
          <h1 class="m-content__index-title"> & Workshops</h1>
        </div>
      </a>
    </div>
  </div>

  <div class="col-sm-10 col-md-10 col-lg-10 m-content__index-wrapper">
    <a href="/about">
      <div class="m-content__index-container">
        <img src="images/team_2.jpg">
        <div class="m-content__index-title-container">
          <h2 class="m-content__index-title">
            Meet the team
          </h2>
        </div>
      </div>
    </a>
  </div>
</div>