---
title: Color Coded
---

<!-- main body -->
<div class="row m-content about">
  <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="logo">
      <%= render_partial 'partials/svg/logo.svg' %>
    </div>
    <ul>
      <li><a target="_blank" href="http://instagram.com/wearecolorcoded"><%= render_partial 'partials/svg/insta.svg' %></a></li>
      <li><a target="_blank" href="http://twitter.com/wearecolorcoded"><%= render_partial 'partials/svg/twitter.svg' %></a></li>
      <li><a target="_blank" href="http://facebook.com/wearecolorcoded"><%= render_partial 'partials/svg/fb.svg' %></a></li>
    </ul>
    <h1>hang tight! <br>color coded is getting a makeover</h1>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="//wearecolorcoded.us15.list-manage.com/subscribe/post?u=90ab031ee300e58e193aedc5d&amp;id=86428d4a4d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">sign-up to be notified when the new site launches ✨<br> It'll feature news about our events, self-care, tech, art, culture, poc greatness, and more!</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_90ab031ee300e58e193aedc5d_86428d4a4d" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
  <div class="col-sm-6 col-md-4 col-lg-4 links">
    <p> In the meantime, check out some links to get you through the week:</p>
    <ul>
      <span>creative flow</span>
      <li>Awaken your senses with the Brazilian Funk in <a target="_blank" href="https://www.youtube.com/watch?v=DYaq2sWTWAA">Sango's new release</a>.</li>

      <span>for the culture</span>
      <li>Read <a href="http://www.curbed.com/">Curbed's</a> beautiful and thorough<a target="_blank" href="http://www.curbed.com/2017/2/22/14677844/architecture-diversity-inclusion-race">feature on diversity in architecture</a> and get inspired by the architects of color that are shaking it up.</li>

      <span>positive vibes</span>
      <li><a href="http://www.npr.org/event/music/519418207/tank-and-the-bangas-tiny-desk-concert">Tank And The Bangas</a> won <a href="http://tinydeskcontest.npr.org/winner/">NPR tiny desk contest!!</a> Their <a href="<a href="http://www.npr.org/event/music/519418207/tank-and-the-bangas-tiny-desk-concert">performance</a> will fill up your happiness tank for <i>at least</i> a week.</li>

      <span>Protect your magic</span>
      <li>Take breaks during the days – or naps; we won't tell. Turn off everything, and seek some silence. <a href="http://nymag.com/scienceofus/2017/03/make-some-time-in-your-workday-for-a-communication-break.html">SCIENCE</a> says so. </li>

      <span>lolol</span>
      <li>When we get in a funk, <a href="http://www.crushable.com/2014/05/16/entertainment/bobs-burgers-good-show-reasons-to-watch/">Bob's Burgers</a> helps. A LOT. Check out the ICONIC show on <a href="https://www.netflix.com/title/70175658">Netflix.</a></li>

      <span>bonus</span>
      <li>Bazilian House Funk is LIT. And so is new DJ duo <a href="https://twitter.com/DKVPZ">DKVPZ</a>. Enjoy <a href="https://soundcloud.com/soulection/sets/dkvpz-soulection-white-label-019">their EP</a> and all the dancing that'll come with it.</li>
    </ul>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4 links">
    <p class=""> Not sure what Color Coded does? <a target="_blank" href="https://medium.com/@pam_yam/i-did-a-thing-b00a3721529e#.ct89cz9r3">We gotchu.</a> </p>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4 links" style="padding: 0; text-align: center; margin-bottom: 20px;">
     Color Coded™ – All Rights Reserved - 2017 <br>
     Sponsored by <a href="http://voxmedia.com" target=_blank>Vox Media Inc</a>
  </div>
</div>
