---
title: Color Coded
---

<section class="m-landing">

  <div class="m-landing__combo">
    <div class="m-landing__picture" id="first-landing-picture"></div>
    <div class="m-landing__text">
      <span>a community for the curious and creative in tech</span>
    </div>
  </div>

  <div class="m-landing__combo reverse">
    <div class="m-landing__text">
      <span>empowering people of color in tech</span>
    </div>
    <div class="m-landing__picture" id="second-landing-picture"></div>
  </div>

  <div class="m-landing__combo">
    <div class="m-landing__picture" id="wellness-landing-picture"></div>
    <div class="m-landing__text">
      <span>tech with a <i>hint</i> of wellness</span>
    </div>
  </div>


  <div class="m-landing__combo reverse">
    <div class="m-landing__text">
      <span>workshops, meetups, and chill events</span>
    </div>
    <div class="m-landing__picture" id="third-landing-picture"></div>
  </div>

  <div class="m-landing__combo">
    <div class="m-landing__picture" id="last-landing-picture"></div>
    <button class="m-component__action-button"><a target="_blank" href="https://www.meetup.com/colorcoded/events/calendar/"><span>come to the next event</span></a></button>
  </div>

</section>
